@page "/notauth"

<div class="hero-unit">
  <h3>Looks like you're a little lost...</h3>
  <p>Login first to view and make changes to your shelf!</p>
  <p>
    <a class="btn btn-primary btn-large" href="/login">
      Login
    </a>
  </p>
</div>